body{
    background-color: #083B4C;
}

.box{
    width: 130px;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: cadetblue;
    border: 1px solid black;
    margin: 5px;
    color: white;
  }