body{
    background-color: #083B4C;
}

.box{
    width: 131px;
    height: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1489B2;
    border: 1px solid black;
    margin: 5px;
    color: black;
  }

  .tre{
    background-color: #0AD6A0;

  }

  .cinque{
    background-color: #FFD166;

  }

  .mix{
    background-color: #F0466F;
  }